<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sed earum architecto dolores. Placeat impedit
            consectetur quam error reiciendis dolores tempore facilis corporis autem! Dicta excepturi sed quam, non
            veniam aliquam iusto enim beatae. Adipisci nesciunt distinctio cupiditate reiciendis vero.
        </p>
    </div>
</div>